{% extends "layout.html" %}
{% block content %}
<header class="bg-gradient">
    <div class="container mt-5">
        <h1>About Us</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="card pricing popular">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='images/hendra.jpg') }}" alt="photo" id="profilePic">
                        </br></br>
                        <p style="color: black;">
                            <strong>Hendra Polover</strong>
                        </p>
                        <hr>
                        <div style="text-align: left">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel
                                exercitationem eveniet vero maxime ratione</p>
                            <hr>
                            <a href="http://instagram.com/hdpolover">
                                <img src="{{ url_for('static', filename='images/ig.png') }}" alt="logo" id="smLogo">
                                hdpolover
                            </a></br>
                            <a href="http://facebook.com/hdpolover">
                                <img src="{{ url_for('static', filename='images/fb.png') }}" alt="logo" id="smLogo">
                                hdpolover
                            </a></br>
                            <a href="http://github.com/hdpolover">
                                <img src="{{ url_for('static', filename='images/github.png') }}" alt="logo" id="smLogo">
                                hdpolover
                            </a></br>
                            <a style="color: #959094;">
                                <img src="{{ url_for('static', filename='images/email.png') }}" alt="logo" id="smLogo">
                                hendrapolover@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card pricing popular">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='images/amin.jpeg') }}" alt="photo" id="profilePic">
                        </br></br>
                        <p style="color: black;">
                            <strong>Nurami Nasrullah</strong>
                        </p>
                        <hr>
                        <div style="text-align: left">
                            <p>Ber studi di kampus STIKI Malang jurusan TI. "Keep moving forward".</p>
                            <hr>
                            <a href="http://instagram.com/latajinov">
                                <img src="{{ url_for('static', filename='images/ig.png') }}" alt="logo" id="smLogo">
                                latajinov
                            </a></br>
                            <a href="http://facebook.com/latajinov">
                                <img src="{{ url_for('static', filename='images/fb.png') }}" alt="logo" id="smLogo">
                                latajinov
                            </a></br>
                            <a href="http://github.com/nasrullah1">
                                <img src="{{ url_for('static', filename='images/github.png') }}" alt="logo" id="smLogo">
                                nasrullah1
                            </a></br>
                            <a style="color: #959094;">
                                <img src="{{ url_for('static', filename='images/email.png') }}" alt="logo" id="smLogo">
                                nnasrullah123@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card pricing popular">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='images/qori.jpg') }}" alt="photo" id="profilePic">
                        </br></br>
                        <p style="color: black;">
                            <strong>Qori Hidayatulloh</strong>
                        </p>
                        <hr>
                        <div style="text-align: left">
                            <p>Anak manusia yang sedang menempuh Jurusan T.I disebuah kampus di Kota Malang. Motto
                                hidupnya adalah "Hidup seperti Larry".</p>
                            <hr>
                            <a href="http://instagram.com/qori.jpg">
                                <img src="{{ url_for('static', filename='images/ig.png') }}" alt="logo" id="smLogo">
                                qori.jpg
                            </a></br>
                            <a href="http://facebook.com/thedutchmans">
                                <img src="{{ url_for('static', filename='images/fb.png') }}" alt="logo" id="smLogo">
                                thedutchmans
                            </a></br>
                            <a href="http://github.com/above99">
                                <img src="{{ url_for('static', filename='images/github.png') }}" alt="logo" id="smLogo">
                                above99
                            </a></br>
                            <a style="color: #959094;">
                                <img src="{{ url_for('static', filename='images/email.png') }}" alt="logo" id="smLogo">
                                qhorihidayatulloh@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-holder mt-3"><img src="{{ url_for('static', filename='images/home.png') }}" alt="people"
            class="img-fluid"></div>
</header>
{% endblock %}