{% extends "layout.html" %}
{% block content %}
<div class="section">
    </br></br>
    <div class="container">

        <div class="section-title">
            <h3>Negative comments</h3>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='images/undraw_chat_1wo5.svg') }}" alt="graphic"
                    class="img-fluid rounded" style="width: 90%; height: 80%;">
            </div>
            <div class="col-lg-6">
                <p class="mb-4">The internet is a bright place, made dark by internet trolls. At times it seems the
                    internet is swarming with strangers filled with hate. Especially
                    on social media. And while that’s probably an exaggeration, for the sake of your mental health you
                    should try to filter negative comments.</p>
                <p class="mb-4">
                    Such comments can adversely impact your online experience or make you want to quit social media.
                    However, thankfully, you can easily filter negative comments on social media. This application just
                    gives you an idea of what negative comments are like. You can directly try it <a
                        href="{{url_for('clf')}}">here</a>.</p>
            </div>
        </div>

    </div>

</div>
<!-- // end .section -->

<div class="section light-bg">
    <div class="container">
        <div class="section-title">
            <h3>Negative Comment Categories</h3>
        </div>

        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#communication">Identity Hate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#schedule">Insult</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages">Obscene</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#livechat">Threat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#toxic">Toxic</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#stoxic">Severe Toxic</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="communication">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <p>Identity hate comments are usually used to mean prejudice towards one or more races.
                            But in modern use or on social media, these kind of comments are used by people to explain
                            the behaviour of people of other
                            races, whether race, beliefs or anything is called into the issue or not.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="schedule">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <p> An insult is usually when someone says something rude or offensive to another person.
                            Insults comments are usually used when someone is being annoying, but sometimes are used as
                            jokes.
                            These are the expressions of someone's feelings towards others by verbally abusing them.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="messages">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <p> Obscene comments usually mean vulgar, disgusting, or unappealing comments.
                            Obscene also means crudely indecent, deficient in taste, delicacy, or refinement. Uncouth.
                            Sometimes offensive, often used with sexual innuendo's.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="livechat">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <p> Threat comments are comments in which someone tells others that they will punish or harm
                            them, especially if they do
                            not do what they want. Usually sign the possibility of trouble, danger or disaster. It could
                            be a person or thing that is likely to cause trouble, danger, etc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="toxic">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <p> Toxic comments usually contain unnecessary hate on an online community or social media.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="stoxic">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <p> Severe toxic comments basically mean comments that are toxic to the next level.
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- // end .section -->
{% endblock %}