{% extends "layout.html" %}
{% block content %}
<div class="section light-bg">
    <div class="container justify-content-center">
        <br><br>
        <div class="row">
            <div class="col-lg-12 col-lg-12">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <div class="section-title">
                                    <h3>Predict comments/texts</h3>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div>
                                            <p style="padding-left: 2vw">
                                                There are 7 categories available to choose from. Each one of them
                                                classifies
                                                the comment/text input differently. You can read more about them in
                                                <a href="{{url_for('categories')}}">categories</a>.</p>
                                            <p style="padding-left: 2vw">
                                                However, "All" means that the prediction result will be either
                                                "negative" or "not negative".
                                                This category classifies a comment/tex input as "not negative" only if
                                                the input prediction doesn't fall into any other 6 categories. </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <form class="forms" action="{{url_for('predi')}}" method="POST">
                                            <div class="form-group">
                                                <label for="Textarea" class="col control-label">Comment/Text</label>
                                                <div class="col-lg-12">
                                                    <textarea name="txt" class="form-control" id="Textarea" rows="5"
                                                        placeholder="Write something here..." required></textarea>
                                                </div>
                                            </div>
                                            <div class="form form-group">
                                                <label for="categorySelect" class="col control-label">Category</label>
                                                <div class="col-lg-12">
                                                    <select name="choice" class="form-control" id="categorySelect"
                                                        required>
                                                        <option value="6">All</option>
                                                        <option value="0">Identity Hate</option>
                                                        <option value="1">Insult</option>
                                                        <option value="2">Obscene</option>
                                                        <option value="3">Threat</option>
                                                        <option value="4">Toxic</option>
                                                        <option value="5">Severe Toxic</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form form-group">
                                                <div class="col-lg-2">
                                                    <button type="submit" class="btn btn-primary">Predict</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}