<!doctype html>
<html lang="en">

<head>
    <title>Negative Comment Classifier</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <!-- Main css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

    <!-- Nav Menu -->

    <div class="nav-menu fixed-top bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="{{url_for('home')}}"><img
                                src="{{ url_for('static', filename='images/neclier.png') }}" class="img-fluid"
                                alt="logo"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span
                                class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="{{url_for('home')}}">HOME</a> </li>
                                <li class="nav-item"> <a class="nav-link active" href="{{url_for('categories')}}">CATEGORIES</a> </li>
                                <li class="nav-item"> <a class="nav-link active" href="{{url_for('data')}}">DATA</a></li>
                                <li class="nav-item"> <a class="nav-link active" href="{{url_for('about')}}">ABOUT</a> </li>
                                <li class="nav-item"><a href="{{url_for('clf')}}"
                                        class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Predict</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    <!-- content here -->
    {% endblock %}

    <footer class="my-5 text-center">
            <p>&copy; Copyright 2019 2n00bie4U </p>
            <p>All rights reserved. Made with &#10084;</p>
    </footer>


    <!-- jQuery and Bootstrap -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- Plugins JS -->
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>